.description{
  
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   padding: 0;

}

.description_title{
    opacity: 1;
color: rgba(0,0,0,1);
font-family: "ProximaNova-Light";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 30px;
margin: 0;

}
.description_content{
    opacity: 1;
color: rgba(102,102,102,1);
font-family: "ProximaNova-Light";
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: 0px;
text-align: justified;
line-height: 20px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
height: fit-content;
}
.full_description_content{
    opacity: 1;
    color: rgba(102,102,102,1);
    font-family: "ProximaNova-Light";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    text-align: justified;
    line-height: 20px;
    height: fit-content;
}
.see_more_button{
    border:none;
    background-color: white;
    opacity: 1;
color: rgba(51,51,58,1);
font-family: "ProximaNova-Semibold";
font-size: 12px;
font-weight: 600;
font-style: normal;
letter-spacing: 2px;
text-align: center;
line-height: 20px;
text-transform: uppercase;
}

.see_more_button:hover{
    cursor: pointer;
}

.hidden_button{
    display: none;
}