.header_content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
}

@media only screen and (max-width:750px) {
    .header_content{
        flex-direction: column;
        position: absolute;
        top:120px;
      right:0;
        width: 100%;
        background-color: white;
        align-items: flex-end;
        justify-content: flex-end;
       padding-right: 100px;
      display: none;
    
    }
    
}