.explore_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 560px;
    width: 100%;
}
.exploreButton{
    border: none;
    background-color: black;
    opacity: 1;
color: rgba(255,255,255,1);
font-family: "ProximaNova-Bold";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: 2px;
text-align: center;
line-height: 20px;
text-transform: uppercase;
width: 174px;
height: 40px;
margin-top: 30px;
}
.exploreButton:hover{
    cursor: pointer;
    background-color: darkgrey;
}

@media only screen and (max-width:750px) {
    .explore_content{
        flex-direction: column;
        height: fit-content;
    }
}